In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('Restaurant.csv')

In [40]:
df

    Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type    Est Wait
0   Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10  Yes
1   Yes   No   No  Yes  Full     $   No   No     Thai  30-60   No
2    No  Yes   No   No  Some     $   No   No   Burger   0-10  Yes
3   Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30  Yes
4   Yes   No  Yes   No  Full   $$$   No  Yes   French    >60   No
5    No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10  Yes
6    No  Yes   No   No  None     $  Yes   No   Burger   0-10   No
7    No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10  Yes
8    No  Yes  Yes   No  Full     $  Yes   No   Burger    >60   No
9   Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30   No
10   No   No   No   No  None     $   No   No     Thai   0-10   No
11  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60  Yes

In [10]:
df.describe()

        Alt Bar Fri  Hun   Pat Price Rain Res  Type   Est Wait
count    12  12  12   12    12    12   12  12    12    12   12
unique    2   2   2    2     3     3    2   2     4     4    2
top     Yes  No  No  Yes  Full     $   No  No  Thai  0-10  Yes
freq      6   6   7    7     6     7    8   7     4     6    6

In [46]:
#finding the gini of class
gini_of_class = 0
dictary_class= {}
for i in range(len(df)):
        if df.loc[i][-1] in dictary_class :
            dictary_class[df.loc[i][-1]]+=1
        else :
            dictary_class[df.loc[i][-1]] = 1
temp_sum = 0
for i in dictary_class:
    temp_sum += (dictary_class.get(i)/len(df))**2
gini_of_class = round((1-temp_sum),2)
print(gini_of_class)

0.5

In [ ]:
gini = []

In [50]:
dictary = {}
for i in range(len(df)):
    if df.loc[i][0] in dictary:
        dictary[df.loc[i][0]] +=1
    else :
        dictary[df.loc[i][0]] =1
  
for k in dictary :
    temp_dict = {}
    for i in range(len(df)):
        if df.loc[i][-1]=='Yes' :
            if k in temp_dictary:
                temp_dict[k] +=1
            
    gini_index = 1 - ((temp_dict[k]/dict[k])**2 + (temp_dict[k]-dictary[k])/dictary[k])
    print(gini_index)

NameError: name 'temp_dictary' is not defined

In [48]:
print(dictary)

{'Yes': 6, 'No': 6}